<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd">
<context:annotation-config/>
 <bean name="lifecycleDemo" class="com.lifecycleCallbacksDemo.Employee" init-method="init" destroy-method="destroy" p:id="1" p:name="swastin" p:address="2rbf59/5,unit-9,bhubaneswar"/>
<bean name="lifecycleDemo1" class="com.lifecycleCallbacksDemo.Address" p:city="Bhubaneswar" p:state="odisha" p:country="India"></bean>
<bean name="lifecycleDemo2" class="com.lifecycleCallbacksDemo.Department" p:id="10" p:name="it"></bean>
<bean  class="com.lifecycleCallbacksDemo.BeanPostProcessorDemo"/>
</beans>